<section id="shopify-section-template--24671496274269__comparaison_list_UDGHDn" class="shopify-section section"><link href="//thepetloundge.com/cdn/shop/t/3/assets/section-comparaison-list.css?v=105728186256938619311737754956" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-template--24671496274269__comparaison_list_UDGHDn-padding {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @media screen and (min-width: 750px) {
    .section-template--24671496274269__comparaison_list_UDGHDn-padding {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }</style><style data-shopify="">.shape-template--24671496274269__comparaison_list_UDGHDn.top {
        transform: scaleX(-1);
      }.shape-curve-1.top::before {
          background: rgb(var(--color-background));
          -webkit-mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23"/></svg>');
          mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23"/></svg>');
          background-position: 50% 100%;
        }</style><div class="shape top shape-curve-1 color-scheme shape-template--24671496274269__comparaison_list_UDGHDn"></div><div id="" class="color-scheme section-template--24671496274269__comparaison_list_UDGHDn-padding">
  <div class="comparaison-list container container--normal"><div class="heading__section center"><h2 class="card-title">{{ section.settings.heading1 }}</h2><div class="heading__description rte aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
      Here’s a detailed comparison to show why our product stands out from the competition.
    </div></div><div class="comparaison__table comparaison__table--accent">
      <div class="comparaison__heading aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="comparaison__text"></div>
        <div class="comparaison__text comparaison__text--before">Our Product
</div>
        <div class="comparaison__text">Competitor Products</div>
      </div><div class="comparaison__row aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
          <div class="comparaison__text">Customer Support</div>
          <div class="comparaison__text comparaison__text--before"><svg class="icon icon-checkmark color-foreground-text" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"></path>
</svg>
</div>
          <div class="comparaison__text"><svg class="icon icon-checkmark color-foreground-text" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"></path>
</svg>
</div>
        </div><div class="comparaison__row aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="comparaison__text">Simplify Your Life</div>
          <div class="comparaison__text comparaison__text--before"><svg class="icon icon-checkmark color-foreground-text" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"></path>
</svg>
</div>
          <div class="comparaison__text"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
  <path class="icon-close-path" d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
</path></svg>
</div>
        </div><div class="comparaison__row aos-init aos-animate" data-aos="fade-up" data-aos-delay="250">
          <div class="comparaison__text">Premium quality</div>
          <div class="comparaison__text comparaison__text--before"><svg class="icon icon-checkmark color-foreground-text" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"></path>
</svg>
</div>
          <div class="comparaison__text"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
  <path class="icon-close-path" d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
</path></svg>
</div>
        </div><div class="comparaison__row comparaison__row--last aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <div class="comparaison__text">Improve your pet's health</div>
          <div class="comparaison__text comparaison__text--before"><svg class="icon icon-checkmark color-foreground-text" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z" fill="currentColor"></path>
</svg>
</div>
          <div class="comparaison__text"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
  <path class="icon-close-path" d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
</path></svg>
</div>
        </div><div class="comparaison__footer aos-init aos-animate" data-aos="fade-up" data-aos-delay="350">
        <div class="comparaison__text"></div>
        <div class="comparaison__text comparaison__text--before"></div>
        <div class="comparaison__text"></div>
      </div>
    </div>
  </div>
</div><style data-shopify="">.shape-template--24671496274269__comparaison_list_UDGHDn.bottom {
        transform: scaleX(-1);
      }.shape-curve-1.bottom::before {
          background: rgb(var(--color-background));
          -webkit-mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23"/></svg>');
          mask-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23"/></svg>');
          background-position: 50% 100%;
        }</style><div class="shape bottom shape-curve-1 color-scheme shape-template--24671496274269__comparaison_list_UDGHDn"></div>
</section>

{% schema %}
{
    "name": "coparaison",
    "settings": [
        {
            "type": "text",
            "id": "heading1",
            "label": "Heading 1",
            "default": "<span>Why Choose Our Product?</span>"
        }
    ],
    "presets": [
        {
            "name": "coparaison"
        }
    ]
}
{% endschema %}